{% load static %}
<div class="baner">
    {% comment %} <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="autoplay: true">
        <div class="uk-slider-items uk-grid uk-child-width-1-1">
            <div>
                <div class="uk-panel">
                    <img rel="preload" src="{% static 'img/baneer/p1.jpg' %}" width="1280" height="480" alt="p1" >
                    <div class="uk-position-center uk-text-center">
                        <h2 uk-slider-parallax="x: 100,-100">Скидки на ОЗУ!</h2>
                        <p uk-slider-parallax="x: 200,-200">Ускорьте работу вашего ПК с высокоскоростной оперативной памятью! И получите выгоду от наших скидок!</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-panel">
                    <img src="{% static 'img/baneer/p2.webp' %}" width="1280" height="480" alt="p2" loading="lazy">
                    <div class="uk-position-center uk-text-center">
                        <h2 uk-slider-parallax="x: 100,-100">Мощность без границ!</h2>
                        <p uk-slider-parallax="x: 200,-200">Разблокируйте потенциал вашего ПК с новейшими процессорами! Высокая производительность, энергоэффективность и поддержка передовых технологий.

                        </p>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-panel">
                    <img src="{% static 'img/baneer/p3.jpg' %}" width="1280" height="480" alt="p3" loading="lazy">
                    <div class="uk-position-center uk-text-center">
                        <h2 uk-slider-parallax="x: 100,-100">Графика нового уровня!</h2>
                        <p uk-slider-parallax="x: 200,-200">Погрузитесь в мир высоких FPS и реалистичной графики! Игровые и профессиональные видеокарты для максимальной производительности.</p>
                    </div>
                </div>
            </div>
        </div>
    
        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href uk-slidenav-previous uk-slider-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href uk-slidenav-next uk-slider-item="next"></a>
        <ul class="uk-slideshow-nav uk-dotnav"></ul>
    </div> {% endcomment %}

    <img src="{% static 'img/baneer/banner1280x480.png' %}" width="1280" height="480" alt="баннер">
    
</div>