{% load static %}
<div id="characteristics" class="characteristics">
    <h2>Характеристики</h2>
{% for Gl in GlavChar %}
    <div class="char_gl">
        <h3>{{ Gl }}</h3>
        {% for specs in tovar.specs.all %}
            {% if Gl == specs.category.gl_category %}
                <div class="s-char-small">
                    <div class="s-char-small-flex">

                        {% if specs.category.details %}
                            <div class="uk-inline">
                                <ul class="uk-iconnav">
                                    <li><a class="uk-iconnav" uk-icon="icon: info; ratio: 1"></a></li>
                                </ul>
                                <div class="uk-card uk-card-body uk-card-small uk-card-default" uk-drop="pos: top; mode: click">{{ specs.category.details }}</div>
                            </div>
                        {% endif %}
                        
                        <div class="s-char-small-ch" style="display:block">{{ specs.category.category }}:
                        <span style="color:black">{{ specs.description }}</span></div>
                    </div>
                    <hr class="uk-divider">
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endfor %}
<hr>
</div>
<script src="{% static 'js/characteristics.js' %}"></script>