{% load static %}
{% load polls_tags %}
{% load cache %}


{% if user.is_superuser == 1 %} {# для коректного отображения администратора на телефоне #}
<style>@media screen and (max-width:700px){.catalog{width:16.9% !important}.h_right{width:83.334%;left:16.667%}}</style>
{% endif %}

<header>
<a href="{% url 'home' %}" target="_blank" class="logo"><img id="logo" src="{% static 'img/logo2.png' %}" alt="лого" height="60"></a> {# логотип сайта #}
{# каталог #}
<div class="catalog">
    <button class="uk-button uk-button-default" uk-toggle="target: #model-category">
        <span uk-icon="icon: menu; ratio: 1.5" class="uk-icon"></span>
        <span>Каталог</span>
    </button>
</div>
<div id="model-category" uk-offcanvas="overlay: true; delay-hide: 30000">
    <div class="uk-offcanvas-bar uk-flex uk-flex-column off-bar-category">
        <button class="uk-offcanvas-close uk-font btn-close" type="button" uk-close></button>
        <h2 class="uk-card-default uk-padding-small uk-margin-remove-top">Категории</h2>
        <ul class="uk-nav">
            {% cache 600 list_categories %}
                {% Gl_specifications as gl_categories %}
                {% for gl_category in gl_categories %}
                    <li>
                        <a href="#">{{ gl_category }}<span uk-icon="chevron-right"></span></a>
                        <div class="uk-card uk-card-body uk-card-default drop-min-category" uk-drop="animation: reveal-left; animate-out: true;">
                            <a class="btn-close" onclick="closeDrop(this)" uk-icon="close"></a>
                            <div>
                        {% for category in gl_category.categories.all %}
                            {% if forloop.first %}
                                <span>{{ gl_category }}</span>
                            {% endif %}
                            {% if gl_category == category.main_categories %}
                                <a href="{% url 'category' category.slug %}" target="_blank">{{ category }} {# <sub>({{ spec|length }})</sub> #}</a>
                            {% endif %}
                        {% endfor %}
                            </div>
                        </div>
                    </li>
                {% endfor %}
            {% endcache %}
        </ul>
    </div>
</div>
{# /каталог/ #}

{# поиск #}
<div class="search">
    <form class="uk-search" id="autocomplete" action="{% url 'search' %}">
        <input
            class="uk-search-input"
            type="search" name='search'
            placeholder="Поиск по OneBit"
            maxlength="80"
        />
        <ul class="autocomplete-result-list"></ul>
    </form>
</div>
{# /поиск/ #}

<div class="h_right">
    {% if user.is_authenticated  %} {# проверка на авторизированого пользователя #}
        {% if user.is_superuser == 1 %} {# проверка на админа #}
        <a href="/admin" target="_blank">
            <div>
                <span uk-icon="icon: server; ratio: 1.5"></span>
                <span class="h-admin2">админ&nbsp;панель</span>
            </div>
        </a>
        <a class="h_user" href="{% url 'profile' %}">
            <div>
                    {% avatar_img user as user_id %}
                    {% if user_id %}
                        <img style="
                        margin-top:2.5px;
                        object-fit: contain;
                        border-radius:10px;
                        max-width:80px" 
                        src="/{{user_id}}" 
                        alt="{{user}}" 
                        height="30">
                    {% else %}
                        <span uk-icon="icon: user; ratio: 1.5"></span>
                    {% endif %}
                <span>{{ user.username }}</span>
            </div>
        </a>
        {% else %} {# если пользователь уже авторизирован #}
            <a class="h_user" href="{% url 'profile' %}">
                <div>
                        {% avatar_img user as user_id %}
                        {% if user_id %}
                            <img class="user-auth-img"
                            style="
                            margin-top:2.5px;
                            object-fit: contain;
                            border-radius:10px;
                            max-width:80px" 
                            src="/{{user_id}}" 
                            alt="{{user}}" 
                            height="30">
                            <span class="user-auth-icon" uk-icon="icon: user; ratio: 1.5"></span>
                        {% else %}
                            <span uk-icon="icon: user; ratio: 1.5"></span>
                        {% endif %}
                    <span>{{ user.username }}</span>
                </div>
            </a>
        {% endif %}
        <a class="h_home" href="{% url 'home' %}">
            <div><span uk-icon="icon: home; ratio: 1.5"></span><span></span></div>
        </a>
        <a class="h_order" href="{% url 'order' %}"> {# Заказы #}
            <div>
                <span uk-icon="icon: bag; ratio: 1.5"></span>
                <span>Заказы</span>
            </div>
            {# считает и выводит количество товаров в корзине #}
            {% define user.order_set.all.count as count_ord %}
            <span class="uk-badge zack" id="count_ord">
                {{ count_ord }}
            </span>
            {% if count_ord == 0 or not user.is_authenticated %}
                <style>.zack{display:none}</style>
            {% endif %}
        </a>

        <a class="h_fav" href="{% url 'favorites' %}"> {# Избранное #}
            <div>
                <span uk-icon="icon: heart; ratio: 1.5"></span>
                <span>Избранное</span>
            </div>
            {# считает и выводит количество избранных #}
            {% define user.favoritess_set.all.count as count_fav %}
            <span class="uk-badge favorit" id="count_favorites">
                {{ count_fav }}
            </span>
            {% if count_fav == 0 or not user.is_authenticated %}
                <style>.favorit{display:none}</style>
            {% endif %}
        </a>
        <a class="h_bask" href="{% url 'basket' %}"> {# Корзина #}
            <div>
                <span uk-icon="icon: cart; ratio: 1.5"></span>
                <span>Корзина</span>
            </div>
            {# считает и выводит количество товаров в корзине #}
            {% define user.basket_set.all.count as count_bask %}
            <span class="uk-badge bask" id="count_basket">
                {{ count_bask }}
            </span>
            {% if count_bask == 0 or not user.is_authenticated %}
                <style>.bask{display:none}</style>
            {% endif %}
        </a>
    {% else %} {# если пользователь ещё не авторизирован #}
        <a class="h_home" href="{% url 'home' %}">
            <div><span uk-icon="icon: home; ratio: 1.5"></span><span></span></div>
        </a>
        <a href="{% url 'login' %}" style="max-width:unset">
            <div>
                <span uk-icon="icon: user; ratio: 1.5"></span>
                <span>Авторизироваться</span>
            </div>
        </a>
        <a href="{% url 'register' %}">
            <div>
                <span uk-icon="icon: users; ratio: 1.5"></span>
                <span>Зарегистрироваться</span>
            </div>
        </a>
    {% endif %} {# если пользователь уже авторизирован #}
</div>
</header>
{% if not user.is_authenticated %}
<style>
    @media screen and (max-width: 700px) {
        .h_right {
            left: 25%;
            width: 75%;
        }
        .catalog {
            width: 25.5% !important;
        }
    }
</style>
{% endif %}