{% load static %}
{% load cache %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover" /> {# масштабирование #}
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> {# поддержка IE #}
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="{% block seo_description %}{% endblock %} "> {# описание сайта #}
    <meta name="keywords" content="onebit, интернет-магазин, интернет-магазин onebit, интернет-магазин комплектующих,{% block seo_keywords %}{% endblock %}"> {# ключевые слова #}
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="OneBit">
    <meta property="og:locale" content="ru_RU">
    <meta property="og:title" content="{% block link_title %}{% endblock %}">
    <meta property="og:url" content="{% block link_url %}{% endblock %}">
    <meta property="og:image" content="{% block link_image %}{% endblock %}">
    <meta property="og:description" content="{% block link_description %}{% endblock %}">
    <meta name="csrf-token" content="{{ csrf_token }}">
    {# <meta name="robots" content="index, follow"> #}
    
    <link rel = "stylesheet" href ="{% static 'font/GTEestiPro/stylesheet.css' %}" type = "text/css" /> {# шрифт #}
    <link rel="icon" href="{% static 'img/logo2.png' %}"> {# иконка #}

    {# -------------поиск autocomplete.trevoreyre.com------------- #}
    <link rel="stylesheet" href="https://unpkg.com/@trevoreyre/autocomplete-js/dist/style.css"/>
    {# -------------/поиск autocomplete.trevoreyre.com/------------- #}

    {# ---------------------------jquery--------------------------- #}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {# ---------------------------/jquery/--------------------------- #}

    {# ----------------------------uikit---------------------------- #}
    <link rel="stylesheet" href="{% static 'slider/uikit.css' %}">
    <script src="{% static 'slider/uikit.min.js' %}"></script>
    <script src="{% static 'slider/uikit-icons.min.js' %}"></script>
    {# ---------------------------/uikit/--------------------------- #}

    <link rel="stylesheet" href="{% static 'css/all.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/baaner.css' %}">
    <link rel="stylesheet" href="{% static 'css/tovar-conteiner.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    {% block css %}{% endblock %}
</head>
<body>
        {% include "html/header.html" %}
        
    <main>
        <div class="fon"></div>
        {% block content %}{% endblock %}
    </main>

    {% if user.is_authenticated %}
        {% cache 1800 footer %}
            {% include "html/footer.html" %}
        {% endcache %}
    {% else %}
        {% include "html/footer.html" %}
    {% endif %}

    {% block scripts %}{% endblock scripts %}
    
<script src="https://unpkg.com/@trevoreyre/autocomplete-js"></script>{# поиск autocomplete.trevoreyre.com #}
<script src="{% static 'js/main.js' %}"></script> {# slider img in tovar #}
{# поиск #}
<script src="{% static 'js/main_search.js' %}"></script>

{# добавление в избранные и в корзину #}
{% if user.is_authenticated %}
    <script>
        const csrf_token = '{{ csrf_token }}'
    </script>
{% endif %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-YRKRJ97XQP"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-YRKRJ97XQP');
</script>
</body>
</html>