{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel = "stylesheet" href ="{% static 'font/GTEestiPro/stylesheet.css' %}" type = "text/css" />
    <link rel="icon" href="{% static 'img/logo2.png' %}">

    {# -------------поиск autocomplete.trevoreyre.com------------- #}
    <link rel="stylesheet" href="https://unpkg.com/@trevoreyre/autocomplete-js/dist/style.css"/>
    {# -------------/поиск autocomplete.trevoreyre.com/------------- #}

    {# ---------------------------jquery--------------------------- #}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {# ---------------------------/jquery/--------------------------- #}

    {# ----------------------------slider---------------------------- #}
    <link rel="stylesheet" href="{% static 'slider/uikit.css' %}">
    <script src="{% static 'slider/uikit.min.js' %}"></script>
    <script src="{% static 'slider/uikit-icons.min.js' %}"></script>
    {# ---------------------------/slider/--------------------------- #}

    <link rel="stylesheet" href="{% static 'css/all.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/baaner.css' %}">
    <link rel="stylesheet" href="{% static 'css/tovar-conteiner.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    {% block css %}{% endblock %}

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% block header %}{% endblock %}
    <main>
        <div class="fon"></div>
        {% block content %}{% endblock %}
    </main>
    {% block footer %}{% endblock %}

    {% block scripts %}{% endblock scripts %}
    
<script src="https://unpkg.com/@trevoreyre/autocomplete-js"></script>{# поиск autocomplete.trevoreyre.com #}
<script src="{% static 'js/main.js' %}"></script> {# slider img in tovar #}
{# поиск #}
<script defer>
    function debounce(func, wait) {
        let timeout;
        return function(...args) {
            return new Promise(resolve => {
                clearTimeout(timeout);
                timeout = setTimeout(() => resolve(func.apply(this, args)), wait);
            });
        };
    }

    new Autocomplete('#autocomplete', {
        search: debounce(input => {
            if (input.length < 1) { return Promise.resolve([]); } // Фикс ошибки
            const url = `{% url "search_text" %}?text=${input}`;
            return fetch(url)
                .then(response => response.json())
                .then(text => text.search.slice(0, 6));
        }, 300),

        onSubmit: result => {
            if (result['categ'] === 'tovar') {
                window.location.href = `/product/${result['slug']}`;
            } else if (result['categ'] === 'cat') {
                window.location.href = `/category/${result['slug']}/`;
            } else if (result['categ'] === 'avt') {
                document.querySelector('form.uk-search').submit();
            }
        },

        renderResult: (result, props) => {
            if (result['categ'] === 'tovar') {
                return `<li ${props} style='border-left: 2px red solid'>
                    <div class="search-tovar">
                        <img src="${result['img_url']}">
                        <div>
                            <div>${result['name']}</div>
                            <div class="srch-t-bt">Товар</div>
                        </div>
                    </div>
                </li>`;
            } else if (result['categ'] === 'cat') {
                return `<li ${props} style='border-left: 2px green solid'>
                    <div>
                        <div>${result['name']}</div>
                        <div class="srch-t-bt">${result['gl_cat']}</div>
                    </div>
                </li>`;
            } else if (result['categ'] === 'avt') {
                return `<li ${props} style='border-left: 2px yellow solid'>
                    <div class="search-tovar srch-t-avt">
                        ${result['img_url'] ? `<img src="${result['img_url']}">` : ''}
                        <div>
                            <div>${result['name']}</div>
                            <div class="srch-t-bt">Бренд</div>
                        </div>
                    </div>
                </li>`;
            }
        },

        getResultValue: result => result['name']
    });
</script>



{# добавление в избранные и в корзину #}
{% if user.is_authenticated %}
<script defer>
    (function ( $ ) {
        $.fn.addClassAndRemove = function(classAdd, timeAdd, timeRemove) {
          let element = this;
          let addIt = function(){
               element.addClass(classAdd);
            };
          let removeIt = function(){
               element.removeClass(classAdd);
            };
          setTimeout(function() { addIt(); setTimeout(removeIt, timeRemove); }, timeAdd);
          return this;
        };
      }( jQuery ));
    function if_fav(val, classes){
        if (val > 99) {
            document.getElementById(classes).innerHTML = '99+';
            document.getElementById(classes).style.display = "inline-flex";
          }
        else if (val != 0) {
            document.getElementById(classes).innerHTML = val;
            document.getElementById(classes).style.display = "inline-flex";
        }
        else{
            document.getElementById(classes).style.display = "none";
        }
    }
    function if_button_solo(val){
        var but = $('#add_basket');
        var div_b = but.find('div')
        if(val == 'удалён из'){
            but.removeClass().addClass("uk-button uk-button-large uk-button-onebit button-buy-p");
            div_b.replaceWith("<div>Добавить в&nbsp;корзину</div>")
        }
        if(val == 'добавлен в'){
            but.removeClass().addClass("uk-button uk-button-large button-buy-p");
            div_b.replaceWith("<div>В&nbsp;корзине</div>")
        }
    }
    function if_button(val, uslo){
        var but = $('#'+ val);
        var div_b = but.find('div')
        if(uslo == 'удалён из'){
            but.removeClass().addClass("uk-button uk-button-onebit button-buy-p");
            div_b.replaceWith("<div>Добавить в&nbsp;корзину</div>")
        }
        if(uslo == 'добавлен в'){
            but.removeClass().addClass("uk-button button-buy-p");
            div_b.replaceWith("<div>В&nbsp;корзине</div>")
        }
    }
    function if_basket_clear_all(){
        $('#basket-container').html('Ваша корзина пуста.').addClass('clear_all');
        $('.cost1').text('0');
        $('.cost2').text('0');
        $('.itogi h4 sub').text('0');
        $('.select-bask #set_all').prop('checked', false);
    }
    $(document).ready(function() {
        {# избранное #}
        $('.heart-clip').change(function(){
            // если чекбок нажат
            var checked = this.checked;
            $.ajax({
                url: '{% url "favorite_check" %}',
                method: 'POST', // Метод запроса
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                    'X-Requested-With': 'XMLHttpRequest',
                    'X-CSRFToken': '{{ csrf_token }}'  // CSRF токен для защиты
                },
                data: {
                    'User': '{{ request.user }}',
                    'Tovar': '{{ tovar.id }}',
                    'checked': checked
                },
                success: function(data){
                    // Обработка успешного ответа от сервера
                    console.log('Товар {{ tovar.name }}', data.check, 'избраное!');
                    if_fav(data.value, 'count_favorites');
                },
                error: function(xhr, status, error){
                    // Обработка ошибки
                    UIkit.notification({
                        message: 'Ошибка '+ error,
                        status: 'danger'
                        });
                    console.error('({{ tovar.name }}) Произошла ошибка:', error);
                }
            });
        });
        $('.heart-clip-t').change(function() {
            var productId = $(this).data('product');
            var checked = this.checked;
            // Отправляем AJAX-запрос
            $.ajax({
                url: '{% url "favorite_check" %}',
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                    'X-Requested-With': 'XMLHttpRequest',
                    'X-CSRFToken': '{{ csrf_token }}'  // CSRF токен для защиты
                },
                data: {
                    'Tovar': productId,
                    'User': '{{ user }}',
                    'checked': checked
                },
                success: function(data) {
                    console.log('Товар {{ product.name }}', data.check, 'избраное!');
                    if_fav(data.value, 'count_favorites');
                },
                error: function(xhr, status, error) {
                UIkit.notification({
                    message: 'Ошибка '+ error,
                    status: 'danger'
                    });
                }
            });
        });

        {# корзина #}
        {# для передачи id товара в model удаления #}
        $('button.del-bask').click(function() {
          const idd = + $(this).attr('id').replace('t-','') // id tovar
          $('#modal-close-default .uk-button-danger').attr('id', idd);
        });

        $('#add_basket').click(function(){
            $.ajax({
                url: '{% url "basket_add_del" %}',
                method: 'POST', // Метод запроса
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                    'X-Requested-With': 'XMLHttpRequest',
                    'X-CSRFToken': '{{ csrf_token }}'  // CSRF токен для защиты
                },
                data: {
                    'User': '{{ user }}',
                    'Tovar': '{{ tovar.id }}'
                },
                success: function(data){
                    // Обработка успешного ответа от сервера
                    console.log('Товар {{ tovar.name }}', data.check, 'корзину!');
                    if_button_solo(data.check);
                    if_fav(data.value, 'count_basket');
                },
                error: function(xhr, status, error){
                    // Обработка ошибки
                    UIkit.notification({
                        message: 'Ошибка '+ error,
                        status: 'danger'
                        });
                    console.error('({{ tovar.name }}) Произошла ошибка:', error);
                }
            });
        });

        $('button.b-buy-searh').click(function(){
            var baskId = $(this).attr('id');

            $.ajax({
                url: '{% url "basket_add_del" %}',
                method: 'POST', // Метод запроса
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                    'X-Requested-With': 'XMLHttpRequest',
                    'X-CSRFToken': '{{ csrf_token }}'  // CSRF токен для защиты
                },
                data: {
                    'User': '{{ user }}',
                    'Tovar': baskId
                },
                success: function(data){
                    // Обработка успешного ответа от сервера
                    console.log('Товар', baskId , data.check, 'корзину!');
                    if_button(baskId, data.check);
                    if_fav(data.value, 'count_basket');

                },
                error: function(xhr, status, error){
                    // Обработка ошибки
                    UIkit.notification({
                        message: 'Ошибка '+ error,
                        status: 'danger'
                        });
                    console.error('({{ product.name }}) Произошла ошибка:', error);
                }
            });
            });
        
        $('button.button-buy-f').click(function(){
            var baskId = $(this).attr('id');
    
            $.ajax({
                url: '{% url "basket_add_del" %}',
                method: 'POST', // Метод запроса
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                    'X-Requested-With': 'XMLHttpRequest',
                    'X-CSRFToken': '{{ csrf_token }}'  // CSRF токен для защиты
                },
                data: {
                    'User': '{{ user }}',
                    'Tovar': baskId
                },
                success: function(data){
                    // Обработка успешного ответа от сервера
                    console.log('Товар', baskId , data.check, 'корзину!');
                    var but = $('#'+ baskId);
                    var div_b = but.find('div')
                    if(data.check == 'удалён из'){
                        but.removeClass().addClass("uk-button uk-button-onebit button-buy-f");
                        div_b.replaceWith("<div>Добавить в&nbsp;корзину</div>")
                    }
                    if(data.check == 'добавлен в'){
                        but.removeClass().addClass("uk-button button-buy-f");
                        div_b.replaceWith("<div>В&nbsp;корзине</div>")
                    }
                    if_fav(data.value, 'count_basket');
    
                },
                error: function(xhr, status, error){
                    // Обработка ошибки
                    UIkit.notification({
                        message: 'Ошибка '+ error,
                        status: 'danger'
                        });
                    console.error('({{ product.name }}) Произошла ошибка:', error);
                }
            });
            });

        {# Добавить число товара в корзине #}
        $('.p-b-count input[type="number"]').on('input change', function() {
            const id_t = $(this).attr('data-id')
            $.ajax({
                url: '{% url "basket_count" %}',
                method: 'POST', // Метод запроса
                headers: {
                      'Content-Type': 'application/x-www-form-urlencoded',
                      'X-Requested-With': 'XMLHttpRequest',
                      'X-CSRFToken': '{{ csrf_token }}'  // CSRF токен для защиты
                  },
                data: {
                    'User': '{{ user.id }}',
                    'Tovar': id_t,
                    'count': $(this).val()
                },
                success: function(data){
                  // Обработка успешного ответа от сервера
                  console.log('Товар', id_t, data.check);
                },
                error: function(xhr, status, error){
                    // Обработка ошибки
                    UIkit.notification({
                        message: 'Ошибка '+ error,
                        status: 'danger'
                        });
                    console.error('('+id_t+') Произошла ошибка:', error);
                }
            });
        });
        {# Заказ #}
        $('#basket_submit').click(function(e){
            e.preventDefault()
            const P_form = $('#dadata-zipcode-form')
            P_form.find('input').removeClass('danger-bord')
            $('#map-right').removeClass('danger-map')
            const OPL_form = $('#card')
            let c_n = null;
            if ($('#card-hint').is(":visible") === true)    c_n = OPL_form.find('#card-number');
            let mm = OPL_form.find('#expiry-mm');
            let yy = OPL_form.find('#expiry-yy');
            let cvv = OPL_form.find('#cvv');
            if ($('.danger-red:not(#card-hint)').length !== 0){
                $('.danger-red').addClassAndRemove('uk-animation-shake',0,500)
                return;
            }
            $.ajax({
                url: '{% url "add_order" %}',
                method: 'POST', // Метод запроса
                headers: {
                      'Content-Type': 'application/x-www-form-urlencoded',
                      'X-Requested-With': 'XMLHttpRequest',
                      'X-CSRFToken': '{{ csrf_token }}'  // CSRF токен для защиты
                  },
                data: {
                    "Sposob": $('.sposob a[aria-selected="true"]').data('value'), {# способ оплаты #}
                    "FCs": P_form.find('#name').val(), {# ФИО #}
                    "address": P_form.find('#address-input').val(), {# Адрес покупателя #}
                    "postal-address": P_form.find('#postal-unit-address').val(), {# Почтовый адрес #}
                    "coords-map": $("#map-right > .map_adress_select > span > span").text(), {# адрес магазина #}

                    "card-number": c_n.val(), {# Номер карты #}
                    "mm": mm.val(), {# Месец карты покупателя #}
                    "yy": yy.val(), {# Год карты покупателя #}
                    "cvv": cvv.val(), {# CVV/CVC покупателя #}
                },
                success: function(data){
                  // Обработка успешного ответа от сервера
                  window.location.replace("{% url 'order' %}");
                },
                error: function(xhr, status, error){
                    // Обработка ошибки
                    if (xhr.responseJSON.error){
                        UIkit.notification({
                            message: xhr.responseJSON.error,
                            status: 'danger'
                            });
                    }
                    if (xhr.responseJSON.code == 'FCs') {
                        P_form.find('#name').addClass('danger-bord')
                    } else if (xhr.responseJSON.code == 'address'){
                        P_form.find('#address-input').addClass('danger-bord')
                    } else if (xhr.responseJSON.code == 'postal-address'){
                        P_form.find('#postal-unit-address').addClass('danger-bord')
                        P_form.find('#address-input').addClass('danger-bord')
                    } else if (xhr.responseJSON.code == 'coords'){
                        $('#map-right').addClass('danger-map')
                    } else if (xhr.responseJSON.code == 'card'){
                        c_n.addClassAndRemove('danger-bord',0,500)
                    } else if (xhr.responseJSON.code == 'mm'){
                        mm.addClassAndRemove('danger-bord',0,500)
                    } else if (xhr.responseJSON.code == 'yy'){
                        yy.addClassAndRemove('danger-bord',0,500)
                    } else if (xhr.responseJSON.code == 'cvv'){
                        cvv.addClassAndRemove('danger-bord',0,500)
                    }
                }
            });
        });

        {# Удалить выбранное из корзины #}
        $('#modal-close-default-ch .uk-modal-close').click(function () {
            check = $('.tovar_b:checked');
            if (check.length > 0){
                check.each( function(index, val) {
                    $.ajax({
                        url: '{% url "basket_add_del" %}',
                        method: 'POST', {# Метод запроса #}
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded',
                            'X-Requested-With': 'XMLHttpRequest',
                            'X-CSRFToken': '{{ csrf_token }}'  {# CSRF токен для защиты #}
                        },
                        data: {
                            'User': '{{user}}',
                            'Tovar': val.value
                        },
                        success: function(data){
                        {# Обработка успешного ответа от сервера #}
                        console.log('Товар', val.value, data.check, 'корзины!');
                        if_button_solo(data.check);
                        if_fav(data.value, 'count_basket');
                        $('#bask-' + val.value).remove();
                        if (data.value === 0) {
                            if_basket_clear_all();
                        }
                        },
                        error: function(xhr, status, error){
                            // Обработка ошибки
                            UIkit.notification({
                                message: 'Ошибка '+ error,
                                status: 'danger'
                                });
                            console.error(val.value, 'Произошла ошибка:', error);
                        }
                    });
                });
            }
        });

        {# Выбранное в корзины #}
        $('.tovar_b').click(function () {
            const check = this.checked;
            const id_t = $(this).attr('value')
            $.ajax({
                url: '{% url "basket_if_select" %}',
                method: 'POST', {# Метод запроса #}
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                    'X-Requested-With': 'XMLHttpRequest',
                    'X-CSRFToken': '{{ csrf_token }}'  {# CSRF токен для защиты #}
                },
                data: {
                    'User': '{{user}}',
                    'Select': check,
                    'Tovar': id_t,
                    'if_all': false
                },
                success: function(data){
                {# Обработка успешного ответа от сервера #}
                console.log('Товар', id_t, data.check);
                },
                error: function(xhr, status, error){
                    // Обработка ошибки
                    UIkit.notification({
                        message: 'Ошибка '+ error,
                        status: 'danger'
                        });
                    console.error(id_t, 'Произошла ошибка:', error);
                }
            });
        });

        {# Выбранное в подтверждении покупки #}
        $('.ord-t-del').click(function () {
            const check = false;
            const id_t = $(this).attr('id')
            $.ajax({
                url: '{% url "basket_if_select" %}',
                method: 'POST', {# Метод запроса #}
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                    'X-Requested-With': 'XMLHttpRequest',
                    'X-CSRFToken': '{{ csrf_token }}'  {# CSRF токен для защиты #}
                },
                data: {
                    'User': '{{user}}',
                    'Select': check,
                    'Tovar': id_t,
                    'if_all': false
                },
                success: function(data){
                {# Обработка успешного ответа от сервера #}
                console.log('Товар', id_t, data.check);
                $('.tov#'+id_t).remove()
                if ($('.tov').length === 0){
                    window.location.replace("{% url 'basket' %}");
                }
                },
                error: function(xhr, status, error){
                    // Обработка ошибки
                    UIkit.notification({
                        message: 'Ошибка '+ error,
                        status: 'danger'
                        });
                    console.error(id_t, 'Произошла ошибка:', error);
                }
            });
        });

        {# Вcё выбранное в корзины #}
        $('#set_all').click(function () {
            const check = this.checked;
            $.ajax({
                url: '{% url "basket_if_select" %}',
                method: 'POST', {# Метод запроса #}
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                    'X-Requested-With': 'XMLHttpRequest',
                    'X-CSRFToken': '{{ csrf_token }}'  {# CSRF токен для защиты #}
                },
                data: {
                    'User': '{{user}}',
                    'Select': check,
                    'if_all': true
                },
                success: function(data){
                {# Обработка успешного ответа от сервера #}
                console.log('Товарs', data.check);
                },
                error: function(xhr, status, error){
                    // Обработка ошибки
                    UIkit.notification({
                        message: 'Ошибка '+ error,
                        status: 'danger'
                        });
                    console.error('Произошла ошибка:', error);
                }
            });
        });

        {# добавление / удаление из корзины #}
        $('#modal-close-default .uk-button-danger').click(function(){
            const id_t = $(this).attr('id')
            $.ajax({
                url: '{% url "basket_add_del" %}',
                method: 'POST', // Метод запроса
                headers: {
                      'Content-Type': 'application/x-www-form-urlencoded',
                      'X-Requested-With': 'XMLHttpRequest',
                      'X-CSRFToken': '{{ csrf_token }}'  // CSRF токен для защиты
                  },
                data: {
                    'User': '{{ user }}',
                    'Tovar': id_t
                },
                success: function(data){
                  // Обработка успешного ответа от сервера
                  console.log('Товар', id_t, data.check, 'корзины!');
                  if_button_solo(data.check);
                  if_fav(data.value, 'count_basket');
                  {# if_basket_clear(id_t); #}
                  $('#bask-' + id_t).remove();
                  if (data.value === 0) {
                      if_basket_clear_all();
                  }
                },
                error: function(xhr, status, error){
                    // Обработка ошибки
                    UIkit.notification({
                        message: 'Ошибка '+ error,
                        status: 'danger'
                        });
                    console.error('({{ tovar.name }}) Произошла ошибка:', error);
                }
            });
        });
        {# добавление комментариев #}
        $('#comm_add').click(function(e){
            e.preventDefault()
            const rating = $('#rater_com_add').attr('data-rating')
            if (!rating){
                $('#rater_com_add').addClassAndRemove('uk-animation-shake',0,500);
                return;
            }
            const text = $('#comm_text_add').val()
            $.ajax({
                url: '{% url "comm_add_edit" %}',
                method: 'POST', // Метод запроса
                headers: {
                      'Content-Type': 'application/x-www-form-urlencoded',
                      'X-Requested-With': 'XMLHttpRequest',
                      'X-CSRFToken': '{{ csrf_token }}'  // CSRF токен для защиты
                  },
                data: {
                    {% if tovar %}
                        'Tovar': {{ tovar.id }},
                    {% endif %}
                    'rating': rating,
                    'text': text
                },
                success: function(data){
                  // Обработка успешного ответа от сервера
                  location.reload();
                  UIkit.modal($('#add-comment-modal').get(0)).hide();
                },
                error: function(xhr, status, error){
                    // Обработка ошибки
                    UIkit.notification({
                        message: 'Ошибка '+ error,
                        status: 'danger'
                        });
                    console.error('({{ tovar.name }}) Произошла ошибка:', error);
                }
            });
        });
        {# редактирование комментариев #}
        $('#comm_edit').click(function(e){
            e.preventDefault()
            const rating = $('#rater_com_edit').attr('data-rating')
            if (!rating){
                $('#rater_com_edit').addClassAndRemove('uk-animation-shake',0,500);
                return;
            }
            const text = $('#comm_text_edit').val()
            $.ajax({
                url: '{% url "comm_add_edit" %}',
                method: 'POST', // Метод запроса
                headers: {
                      'Content-Type': 'application/x-www-form-urlencoded',
                      'X-Requested-With': 'XMLHttpRequest',
                      'X-CSRFToken': '{{ csrf_token }}'  // CSRF токен для защиты
                  },
                data: {
                    {% if tovar %}
                        'Tovar': {{ tovar.id }},
                    {% endif %}
                    'rating': rating,
                    'text': text
                },
                success: function(data){
                  // Обработка успешного ответа от сервера
                  location.reload();
                  UIkit.modal($('#edit-comment-modal').get(0)).hide();
                },
                error: function(xhr, status, error){
                    // Обработка ошибки
                    UIkit.notification({
                        message: 'Ошибка '+ error,
                        status: 'danger'
                        });
                    console.error('({{ tovar.name }}) Произошла ошибка:', error);
                }
            });
        });
        {# фильтры поиска #}
        function updateFilters() {
            let selectedCategories = $(".category-filter:checked").map(function() {
                return $(this).val();
            }).get();
            let selectedAvtors = $(".avtor-filter:checked").map(function() {
                return $(this).val();
            }).get();
            let searchQuery = "{{ search }}";
    
            $.ajax({
                url: "{% url 'filter_update' %}",
                data: {
                    search: searchQuery,
                    'category[]': selectedCategories,
                    'avtor[]': selectedAvtors
                },
                success: function(response) {
                    updateAvtorList(response.avtors, selectedAvtors);
                    updateTotalProducts(response.total_products);
                }
            });
        }
    
        function updateAvtorList(avtors, selectedAvtors) {
            let avtorList = $("#avtor-list .nav-form");
            avtorList.empty();  // Очищаем текущий список производителей
    
            $.each(avtors, function(index, avtor) {
                avtorList.append(
                    `<div class="uk-flex">
                        <input class="uk-checkbox avtor-filter" type="checkbox" name="avtor" value="${avtor.slug}" id="${avtor.slug}"
                        ${selectedAvtors.includes(avtor.slug) ? 'checked' : ''}>
                        <label for="${avtor.slug}">${avtor.name}</label>
                    </div>`
                );
            });
        }
    
        function updateTotalProducts(total) {
            let t_text = $("#total-products").text()
            if (total != 0){
                if (11 <= total % 100 <= 19){
                    t_text= "товаров"
                    last_digit = total % 10
                    console.log(last_digit)
                }
                if (last_digit == 1){
                    t_text= "товар"
                    console.log(2)
                }
                else if (2 <= last_digit && last_digit <= 4){
                    t_text= "товара"
                    console.log(3)
                }
                else{
                    t_text= "товаров"
                    console.log(4)
                }
                $("#total-products").text(total+' '+t_text);  // Обновляем количество найденных товаров
            }
            else{
                $("#total-products").text(t_text);  // Обновляем количество найденных товаров
            }
        }
    
        // При изменении фильтров обновляем производителей и количество товаров
        $(document).on("change", ".category-filter, .avtor-filter", function() {
            updateFilters();
        });
        {# \ фильтры поиска \ #}
    });  
</script>
{% endif %}
</body>
</html>