.baner{
    margin: 50px 0;
    width: 100%;
    .uk-slider{margin-left: 0}
    .uk-panel{height: 100%}
    .uk-position-center h2, 
    .uk-position-center p {
        text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
        color: white;
    }
    .uk-position-center {
        max-width: calc(100% - 150px);
        background: rgba(0, 0, 0, 0.5);
        padding: 10px;
        border-radius: 8px;
    }
    .uk-slider>a{
        background: none;
    }
}
.baner img{
    border-radius: 25px;
    width: 100%;
    max-height: 450px;
    object-fit: cover;
    height: 100%;
}
@media screen and (max-width:768px){
    .baner img{border-radius: 5px}
    .baner .uk-position-center h2, 
    .baner .uk-position-center p {
        font-size: 0.81em;
    }
    .uk-position-center {
        max-width: 100% !important
    }
}
@media screen and (max-width: 468px) {
    .baner{
        width: calc(100% + 32px);
        margin-left: -16px;
    }
    .baner img{
        border-radius: 0;
    }
}