label{
    cursor: pointer;
    font-weight: 500;
    input{cursor: pointer}
}
.main{padding: 0}
/* modal */
.uk-modal-dialog{
    border-radius: 10px;
    button{
        border-radius: 10px;
        padding: 10px;
    }
}
.uk-modal-footer{padding: 15px 0}
#modal-close-default-ch .uk-modal-body ul li{
    font-weight: 500;
    display: flex;
    img{max-width: 100px}
}
#modal-close-default-ch .uk-modal-close{margin-right: 15px}
/* /modal/ */
.uk-card-default{
    box-shadow:none;
    background-color: #f5f7fa;
}
.select-bask{
    display: inline-flex;
    gap: 10px;
    padding: 10px;
    z-index: 2;
    input{margin: 0 !important}
    span{
        font-weight: 500;
        cursor:pointer
    }
    label{color: var(--color-all)}
}
/* left-bar */
.left-bar{
    flex: 1 0 auto;
    padding-left: 10px;
}
.t-img{border-left: 2px transparent solid}
.cheachbox-t{
    margin: auto 0;
    margin-right: 10px;
}
input.uk-checkbox{
    padding: 10px;
    border-radius: 5px;
}
.tovar-srch{padding: 10px 0}
.t-t-rght{width: 100%}
.p-buttons>.del-bask{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 2.5px;
}
.charc{max-width: 400px}
.right-top{min-width: auto !important}
.uk-flex.uk-flex-right{gap: 10px}
.but-heart{margin-left: 12.5px}
.p-b-count{
    display: flex;
    justify-content: flex-end;
    &>*{border-width: 2px}
    button{
        transition: .2s ease-in-out;
        border-color: var(--color-all-light);
        color: var(--color-all);
        padding: 0 5px;
        z-index: 1;
        &:hover svg{transform: scale(1.03)}
        &:hover{
            color:var(--color-all-full);
            border-color: var(--color-all-bord);
        }
    }
    input{
        height: auto;
        text-align: center;
        font-size: 1.2em;
        font-weight: 500;
        border-color: var(--color-all-flah);
        &:focus{border-color: var(--color-all-light);}
    }
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
	    display: none;
    }
}
.uk-b-minus{
    margin-right: -2px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.uk-b-plus{
    margin-left: -2px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
/* /left-bar/ */

/* right-bar */
.right-bar{
    height: 30px;
    padding-left: 25px;
    h4{
        margin-top:0;
        margin-bottom: 10px;
    }
    .uk-card{
        color: black;
        min-width: 300px;
        padding: 10px;
        hr{border-color: #ccc;}
    }
}
.button-buy-p{
    border-radius: 10px;
    font-size: 24px;
    font-weight: 600;
    width: 100%;
}
.itogi{
    display: flex;
    align-items: baseline;
    h4{
        margin-bottom: 0;
        margin-right: auto;
        sub{color: gray}
    }
    span{
        font-weight: 700;
        &::after{content:' \20BD'} /* ₽ */
    }
    .cost1{
        font-size: 1.287em;
        margin-right: 5px;
    }
    .cost2{
        text-decoration: line-through;
        color: grey;
    }
}
/* /right-bar/ */

.ifnotbasket{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: calc(90vh - var(--height-bottom-menu));
    width: 100vw;
    h4{margin:0.875em}
}
.ifnotbasket>div{
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 5px;
    button{
        border-radius: 10px;
        padding: 5px;
        margin-left: 10px;
    }
}
#basket-container{display: none}
.clear_all{
    display: block;
    margin-top: 10vh;
    text-align: center;
    pointer-events: none;
}
.dis_but{
    margin-top: 0;
    color: grey;
    opacity: 0.7;
    border: 1px #ccc solid;
    cursor: default !important;
}

@media (max-width: 1220px) {
    .main{flex-direction: column-reverse}
    .uk-flex-right{justify-content: flex-start}
    .right-bar{
        height: 0;
        padding: 0;
        z-index: 777;
        width: calc(100% + 30px);
        margin-left: -15px;
        border-bottom-left-radius:0;
        border-bottom-right-radius:0;
    }
    .left-bar{margin-bottom: 80px}
    .main:has(.right-bar>div>a>button:not(.dis_but)) .left-bar{margin-bottom: 145px !important}
}

@media (min-width: 768px) {
    .tovar-srch:has(input.tovar_b:checked) a .t-img{
        border-image: linear-gradient(to top, #fff 0%, var(--color-all-light)  30%, var(--color-all-border)  50%, var(--color-all-light)  70%, #fff 100%) 1
    }
}
@media (max-width: 768px) {
    .select-bask{margin-left: 4px}
    .cheachbox-t{
        margin: 0;
        position: absolute;
        visibility: visible;
        z-index: 8;
        top: -1px;
        left: 0;
        background-color: #fff;
        padding: 4px;
        border-end-end-radius: 5px;
        input{z-index: 14}
        &::before, &::after{
            content: "";
            position: absolute;
            height: 8px;
            width: 8px;
            background-color: transparent;
            border-top-left-radius: 5px;
            box-shadow: -2px -2px 0 2px #fff;
        }
        &::before{
            right: -8px;
            top: 1px;
        }
        &::after{
            bottom: -8px;
            left: 2px;
        }
    }
}

@media screen and (max-width:700px){
    .right-bar .uk-card:not(.uk-active){opacity: 0}
    .h_right{border-top-right-radius:0}
    .catalog{border-top-left-radius:0}

    .h_bask div{border: 2px solid violet}
    .bask{display:none}
}
@media screen and (max-width: 380px) {.h_bask{margin-top: 2.5px !important}}