.char_gl > div > div:not(:nth-last-child(1)) hr{
    border-top: 1px solid #e5e5e5;
    margin: 10px 0;
    width: 50%;
}
.uk-card-body{
    display: none;
    font-size: 14px;
    width: 600px;
}
.char_gl{
    margin-left: 20px;
    margin-top: 15px;
    font-weight: 600;
    display: flex;
    flex-wrap: wrap;
    .first-half{
        min-width:35%;
        margin-right: 20px;
    }
    h3{
        font-weight: 600;
        width: 100%;
    }

}
.s-char-small-flex {
    display: flex;
}
.s-char-small-ch{
    color: rgb(88, 88, 88);
}
.uk-inline{
    position: relative;
    margin-left: -23px;
    padding-right: 3px;
    margin-top: 2px;
    
}
@media screen and (max-width:700px){
    .char_gl{
        display: block;
    }
    .second-half, .first-half{width: 100% !important}
    .first-half hr{
        border-top: 1px solid #e5e5e5;
        margin: 10px 0;
        width: 50%;
    }
    .char_gl > .first-half hr{
        border-top: 1px solid #e5e5e5;
        margin: 10px 0;
        width: 50%;
    }
}