h4{margin: 0}
p{margin: 6px 0}
/* фильтры */
button.uk-button-onebit-transparent{
    color: var(--color-all) !important;
    font-size: 1rem;
    font-weight: 600;
    min-width: 200px;
    border-radius: 10px;
    background-color: #fff;
    border: 2px solid var(--color-all);
}
button.uk-button-onebit-transparent:hover{
    background-color: var(--color-all);
    color: #fff !important;
}
.fav-filter:active ~ button.uk-button-onebit-transparent{
    background-color: var(--color-all-border);
}
.uk-nav-filter{
    padding: 0;
    a{
        padding: 7px 10px !important;
        color: black !important;
    }
    a:hover{color: gray !important}
    .uk-nav-divider{
        margin: 0;
        padding: 0;
    }
}
sup{
    color: gray;
    font-size: 1.875rem;
}
/* /фильтры/ */

/* товары */
.t-bottom{margin-bottom: 5px}
.button-buy-f{
    margin-top: auto;
    border-radius: 10px;
    width: 100%;
    font-weight: 600;
    font-size: .923rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    gap: 5px;
    padding: 10px;
}
/* /товары/ */

.ifnotfavorite{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: calc(90vh - var(--height-bottom-menu));
    width: 100vw;
}

@media screen and (max-width:700px){
    .h_fav{margin-top: 2.5px !important}
    .h_fav div{border: 2px solid violet}
    .favorit{display:none}
}
@media screen and (max-width:850px){.button-buy-f{font-size: .8rem}}
@media screen and (max-width:768px){.button-buy-f{font-size: 1rem}}
@media screen and (max-width:450px){.button-buy-f{font-size: 3vw}}