.totop{
    position: absolute;
    right: 35px;
    top: -45px;
}
footer{
    position: relative;
    a:hover{color: #000 !important}
    dd a:hover{color: var(--color-all) !important}
    .icon-flex{gap:5px;align-items: center;width: max-content}
    .facebook:hover{color: #3b5998 !important}
    .telegram:hover{color: #27a7e7 !important}
}
@media (max-width: 1140px){
    footer .tel{display: inline;width:auto}
}
@media (max-width: 700px){
    footer{padding-bottom: 72px}
}