:root{
    --shadow: 0px 0px 40px 4px rgba(34, 60, 80, 0.2);
    --shadow-h: 0px 0px 25px 4px rgba(34, 60, 80, 0.4);
}
.bc{
    margin-bottom: 0;
    margin-top: 15px;
    margin-left: 25px;
}
.main{
    display: flex;
    align-items: flex-start;
    gap: 15px;
}
.profile{
    padding-top: 15px;
    gap: 25px;
    display: inline-grid;
    color: #fff;
}

.profile button{
    justify-content: center;
    border-radius: 10px;
    padding-bottom: 2.5px;
    padding-top: 2.5px;
}

.block_style{
    padding: 25px;
    background: var(--background);
    border-radius: 25px;
    transition: box-shadow .5s ease, transform .5s ease;

    -webkit-box-shadow: var(--shadow);
    -moz-box-shadow: var(--shadow);
    box-shadow: var(--shadow);
    
    &:hover{
        -webkit-box-shadow: var(--shadow-h);
        -moz-box-shadow: var(--shadow-h);
        box-shadow: var(--shadow-h);
        transform: scale(1.02);
    }
    & h3{transition: color .25s ease}
    &:hover h3{color: var(--color-all-full)}
}
.avatar, .exit{
    display: inline-flex;
    justify-content: center;
}
.exit button{
    display: flex;
    align-items: center;
    svg{
        margin-top: 0;
        margin-bottom: -4px;
    }
}

/* avatar */
.avatar{
    min-height: 243px;
    form{display: inline-grid}
    input{
        font-size: unset !important;
        &::file-selector-button {display: none}
    }
    h3,h4{margin: 0 auto}
}
.errors_ava{
    max-width: 250px;
    width: calc(250px - 10px * 2);
    display: none;
    font-size: 14px !important;
    background: #f0506e;
    font-weight: 400;
    padding: 4px 10px;
    margin-bottom: 5px;
    border-radius: 7px;
    color: #fff;
}
.uk-position-center{
    color:var(--color-all);
    transition: opacity .2s ease;
    opacity: 0;
}
.fieldWrapper:hover .uk-position-center{opacity: 1}

.fieldWrapper img{
    max-width: 250px;
    max-height: 350px;
    border-radius: 10px;
}
/* /avatar/ */

.fieldWrapper{text-align: center}
.exit button{margin: 0 auto}

/* block_tov */
.b_t{
    display:flex;
    flex-wrap: wrap;
    padding-top: 25px;
    width: calc(100% - 50px);
}
.block_tov{
    flex: 1 0 auto;
    position: relative;
    color: #fff;
    h3{
        margin: 0;
        padding-right: 75px;
    }
    &:hover .z_right{
        transform: scale(1.1);
        -webkit-box-shadow: var(--shadow);
        -moz-box-shadow: var(--shadow);
        box-shadow: var(--shadow);
    }
}
.z_right{
    position: absolute;
    color: var(--color-all);
    background-color: rgba(255, 255, 255, 0.7);
    right: 20px; top: 0; bottom: 0;
    border-radius: 50%;
    padding: 15px;
    margin: auto;
    height: 50%;
    transition: transform .5s ease;
    svg{width: 100%;  height: 100%}
}
/* /block_tov/ */

/* comm */
.list_comm_t{
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(2, 50%);
    gap: 24px 8px;
    margin-top: 15px;
}
@media (min-width: 866px) {
    .list_comm_t {
        grid-template-columns: repeat(4, calc(25% - 6.3px));
        row-gap: 32px;
    }
}
@media (min-width: 1024px) {
    .list_comm_t {
        grid-template-columns: repeat(5, calc(20% - 6.67px));
        row-gap: 40px;
    }
}
@media (min-width: 1280px) {
    .list_comm_t {
        grid-template-columns: repeat(6, calc(16.6667% - 6.67px));
        row-gap: 30px;
    }
}

.bs_comm{
    width: calc(100% - 50px);
    margin-bottom: 55px;
}
.bs_comm:hover{
    transform: none !important;
    box-shadow: var(--shadow);
    h3{color: #fff}
}
.comm_t{
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: transform .2s ease;
    &:hover{transform: scale(1.05)}
}
.comm_t img{
    flex: 1;
    background-color: #fff;
    width: 100%;
    max-height: 250px;
    object-fit: contain;
}
.comm_t span{
    color: #fff;
    font-weight: 500;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 42px;
}

/* /comm/ */

@media screen and (max-width:700px){.h_user div{border: 2px solid violet}}
@media screen and (max-width: 380px) {.h_user{margin-top: 2.5px !important}}

@media screen and (max-width:700px){
    .main{
        display: block;
        margin-bottom: 65px;
    }
    .profile{width: 100%}
    .avatar form{width: 100%}
    .exit{
        a{flex: 1}
        button{width:100%}
        svg{margin-bottom: -6px !important}
    }
    .avatar button,
    .exit button{
        height: 50px;
        font-size: 1.5em;
    }
    .comm_t span{
        font-size: 18px;
        height: 48px;
    }
}