{% extends "layout/layout.html" %}
{% load static %}
{% load cache %}

{% block title %}OneBit — интернет-магазин продажи комплектующик для компьютеров и серверов{% endblock title %}

{% block seo_description %}Куча товаров, быстрая доставка, скидки и акции. Покупайте комплектующие для для компьтеров и серверов по выгодным ценам.{% endblock seo_description %}
{% block seo_keywords %} доставка комплектующих, недорогие комплектующие, комплектующие для компьютера, купить комплектующие онлайн, лучшие цены на комплектующие, комплектующие для игр, комплектующие для офиса, комплектующие для серверов, комплектующие для домашнего использования, комплектующие для профессиональной работы, комплектующие для монтажа видео, комплектующие для стриминга, комплектующие для майнинга, комплектующие для VR{% endblock seo_keywords %}

{% block link_title %}OneBit – лучшие комплектующие для твоего компьютера{% endblock %}
{% block link_url %}{{ request.path }}{% endblock %}
{% block link_image %}{% static 'img/logo2.png' %}{% endblock %}
{% block link_description %}OneBit — интернет-магазин продажи комплектующик для компьютеров и серверов{% endblock %}
  

{% block css %}
  <style>.fon{background: linear-gradient(180deg, var(--color-all) 20%, rgba(184, 184, 184, 0) 60%);height: 400px;}</style>
  <link rel="stylesheet" href="{% static 'css/flex-tovars.css' %}">
  <style>
    @media screen and (max-width:700px){.h_home div{border: 2px solid violet}}
    @media screen and (max-width: 380px) {.h_home{margin-top: 2.5px !important}}
  </style>
{% endblock css %}

{% block content %}

{# сообщение об успешной регистрации/аунтификации #}
  {% if messages %}
      <div class="messages">
      {% for message in messages %}
        <script>
          UIkit.notification({
            message: '{{ message }}',
            status: 'success'
            })
        </script>
      {% endfor %}
      </div>
  {% endif %}

  {% include "html/baner.html" %}

  {% for i in t1 %}
    {% if i.0 == "Популярные товары" %}
      {% include "html/flex-tovars.html" with title=i %}
    {% else %}
      {% include "html/tovars.html" with title=i %}
    {% endif %}
  {% endfor %}
  
{% endblock content %}

