{% extends "layout/authlayout.html" %}


{% block title %}Авторизация на OneBit{% endblock title %}

{% block seo_description %}Авторизируйся на OneBit и получи доступ к кучи товаров, быстрой доставка, скидкам и акциям. Покупайте комплектующие для для компьтеров и серверов по выгодным ценам.{% endblock seo_description %}
{% block seo_keywords %}авторизируйся на OneBit, авторизация onebit, войти onebit, login onebit, auth onebit{% endblock seo_keywords %}

{% block link_title %}Авторизируйся на OneBit{% endblock %}
{% block link_url %}{{ request.path }}{% endblock %}
{% block link_image %}{% static 'img/logo2.png' %}{% endblock %}
{% block link_description %}Авторизируйся на OneBit и получи доступ к кучи товаров, быстрой доставка, скидкам и акциям.{% endblock %}
   
{% block auth_content %}

{% for field in form %}
   <div class="auth-input-text">
      {{ field }}
      <div class="auth-labelline">{{ field.label_tag }}</div>
   </div>
{% endfor %}

{% if messages %}
   <div class="messages">
   {% for message in messages %}
   <p class="auth-error">{{ message }}</p>
   {% endfor %}
   </div>
{% endif %}

 <div class="auth-btn">
 <button class="btn uk-button uk-button-onebit" type="submit">Войти</button>
 <div><a href="{% url 'register' %}">Создать&nbsp;аккаунт</a></div>
 <div style="margin-left:auto"><a href="{% url 'home' %}">Назад</a></div>
 </div>

{% endblock auth_content %}
