{% extends "layout/layout.html" %}
{% load static %}
{% load humanize %}

{% block title %}Заказы — OneBit{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/search.css' %}">
<link rel="stylesheet" href="{% static 'css/order.css' %}">
{% endblock css %}

{% block scripts %}
<script src="{% static 'js/order.js' %}"></script>
{% endblock scripts %}

{% block content %}
<h1 class="title-h1">Заказы</h1>
<nav aria-label="Breadcrumb">
    <ul class="uk-breadcrumb bc">
        <li><a href="{% url 'home' %}" target="_blank">Главная</a></li>
        <li><a href="{% url 'profile' %}" target="_blank">Профиль</a></li>
        <li>Заказы</li>
    </ul>
</nav>
<div>

    <ul class="uk-subnav-ord">
        <li class="s-all"><a href="?sorting=all">Все</a></li>
        <li class="s-act"><a href="?sorting=act">Актуальные</a></li>
        <li class="s-received"><a href="?sorting=received">Завершенные</a></li>
        <li class="s-cancelled"><a href="?sorting=cancelled">Отменённые</a></li>
    </ul>

    <div class="uk-flex uk-flex-column order-all">
        
        {% for ord in order %}
            <div class="order" id="order">
                <div 
                class="or-top"
                {% if ord.dostavka == 'received' %}
                    style="background-color: var(--color-all-light)"
                {% else %}
                {% if ord.dostavka == 'cancelled' %}
                    style="background-color: grey"
                {% endif %}
                {% endif %}>
                <a href="{% url 'order_details' ord.order_number %}" target="_blank">
                    <div>
                        <span>Заказ от {{ ord.date.date }}</span>
                        <div class="ord-num uk-button-text">№ {{ ord.order_number }}</div>
                    </div>
                    <span class="ord-cost">{{ ord.total_price|intcomma }}</span>
                </a>
                </div>
                <div class="or-bot">
                    <div class="ord-l">
                        {% if ord.errors %}
                            <div class="ord-error">
                                <span uk-icon="warning"></span>
                                <span class="ord-err">{{ ord.errors }}</span>
                            </div>
                        {% else %}
                            <span class="ord-poi">
                                {% if ord.dostavka == 'collect' %}
                                    Заказ проверяется
                                {% else %}
                                    {% if ord.dostavka == 'goes' %}
                                        Заказ доставляется в пункт выдачи
                                        {% else %}
                                        {% if ord.dostavka == 'delivered' %}
                                            Заказ доставлен в пункт выдачи
                                            {% else %}
                                            {% if ord.dostavka == 'received' %}
                                                Вы уже забрали заказ
                                                {% else %}
                                                {% if ord.dostavka == 'cancelled' %}
                                                    Заказ отменён
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </span>
                        {% endif %}
                        <div><span class="ord-dostavka {{ord.dostavka}}">{{ ord.get_dostavka_display }}</span><span class="ord-date"> c {{ ord.date_update.date }} в {{ ord.date_update.time }}</span></div>
                    </div>
                    <div class="ord-r">
                    <a href="{% url 'order_details' ord.order_number %}" target="_blank">
                        {% for tov in ord.tovar_order.all %}
                            {% for img in tov.tovar.images.all|slice:"1" %}
                            {% if not img.is_video %}
                                    <img src="{{ img.medium_url }}" alt="{{ tov.tovar.slug }}">
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                        <div class="ord-arrow {{ord.dostavka}}-bot">&#10132;</div>
                    </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

</div>

{% endblock content %}
