{% extends "layout/layout.html" %}
{% load static %}
{% load humanize %}
{% load polls_tags %}

{% block title %}Заказы | One Bit - интернет-магазин{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/search.css' %}">
<link rel="stylesheet" href="{% static 'css/order.css' %}">
{% endblock css %}

{% block scripts %}
<script src="{% static 'js/order.js' %}"></script>
{% endblock scripts %}

{% block content %}
<h1 class="uk-h1">Заказы</h1>
<nav aria-label="Breadcrumb">
    <ul class="uk-breadcrumb bc">
        <li><a href="{% url 'home' %}">Главная</a></li>
        <li><a href="{% url 'profile' %}">Профиль</a></li>
        <li>Заказы</li>
    </ul>
</nav>
<div uk-filter="target: .js-filter">

    <ul class="uk-subnav uk-subnav-pill">
        <li class="uk-active" uk-filter-control><a href="#">Все</a></li>
        <li uk-filter-control="[data-dost*='act']"><a href="#">Актуальные</a></li>
        <li uk-filter-control="[data-dost*='received']"><a href="#">Завершенные</a></li>
        <li uk-filter-control="[data-dost*='cancelled']"><a href="#">Отменённые</a></li>
    </ul>

    <div class="js-filter uk-flex uk-flex-column uk-margin-medium-left order-all">
        
        {% for ord in order %}
            <div class="order" id="order" data-dost="{{ ord.dostavka }}">
                <div 
                class="or-top"
                {% if ord.dostavka == 'received' %}
                    style="background-color: var(--color-all-light)"
                {% else %}
                {% if ord.dostavka == 'cancelled' %}
                    style="background-color: grey"
                {% endif %}
                {% endif %}>
                <a href="{% url 'order_details' ord.order_number %}">
                    <div>
                        <span>Заказ от {{ ord.date.date }}</span>
                        <div class="ord-num uk-button-text">№ {{ ord.order_number }}</div>
                    </div>
                    <span class="ord-cost">{{ ord.total_price|intcomma }}</span>
                </a>
                </div>
                <div class="or-bot">
                    <div class="ord-l uk-width-2-3">
                        {% if ord.errors %}
                            <div class="ord-error">
                                <span uk-icon="warning"></span>
                                <span class="ord-err">{{ ord.errors }}</span>
                            </div>
                        {% else %}
                            <span class="ord-poi">
                                {% if ord.dostavka == 'collect' %}
                                    Заказ проверяется
                                {% else %}
                                    {% if ord.dostavka == 'goes' %}
                                        Заказ доставляется в пункт выдачи
                                        {% else %}
                                        {% if ord.dostavka == 'delivered' %}
                                            Заказ доставлен в пункт выдачи
                                            {% else %}
                                            {% if ord.dostavka == 'received' %}
                                                Вы уже забрали заказ
                                                {% else %}
                                                {% if ord.dostavka == 'cancelled' %}
                                                    Заказ отменён
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </span>
                            {% if ord.sposob_dostavka == 'Pochta' %}
                                {% if ord.dostavka == 'delivered' or ord.dostavka == 'goes' %}
                                <span>Трек-номер: {{ ord.track_numbers }}</span>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                        <span><span class="ord-dostavka {{ord.dostavka}}">{{ ord.get_dostavka_display }}</span> c {{ ord.date_update.date }} в {{ ord.date_update.time }}</span>
                    </div>
                    <div class="ord-r">
                    <a href="{% url 'order_details' ord.order_number %}">
                        {% for tov in ord.tovar_order.all %}
                        {% define 1 as count %}
                            {% for i in img %}
                            {% if i.tovar == tov.tovar and count == 1 %}
                                    {% summ 1 count as count %}
                                    <img src="{{ i.img.url }}" alt="{{ tov.tovar.slug }}">
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                        <div class="ord-arrow {{ord.dostavka}}-bot">&#10132;</div>
                    </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

</div>

{% endblock content %}

{% block header %}{% include "html/header.html" %}{% endblock %}
{% block footer %}{% include "html/footer.html" %}{% endblock %}