{% extends "layout/layout.html" %}
{% load static %}
{% load polls_tags %}

{% block title %}
  {% if specs_tip %}
    {{specs_tip.0.description}} 
  {% endif %}
  {{tovar.name}} на OneBit
{% endblock %}

{% block seo_description %}{{tovar.name}} – купить на OneBit по выгодной цене! Большой ассортимент, быстрая и бесплатная доставка. Распродажи, скидки и акции. Реальные отзывы покупателей.{% endblock seo_description %}
{% block seo_keywords %}{{tovar.category.Gl_category.seo}},{{tovar.category.seo}}{% endblock seo_keywords %}

{% block link_title %}{{tovar.name}} купить по низкой цене с быстрой и бесплатной достаквой на OneBit{% endblock %}
{% block link_url %}{{ request.path }}{% endblock %}
{% block link_image %}{{tovar.images.all|tovar_img_first}}{% endblock %}
{% block link_description %}{{tovar.name}} купить на OneBit по выгодной цене! Большой ассортимент, быстрая и бесплатная доставка. Распродажи, скидки и акции. Реальные отзывы покупателей.{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/product.css' %}">
<link rel="stylesheet" href="{% static 'css/characteristics.css' %}">
<link rel="stylesheet" href="{% static 'css/reviews.css' %}">

<link rel="stylesheet" href="{% static 'star/style.css' %}">
{% endblock css %}

{% block scripts %}
<script src="{% static 'js/slider_img_product.js' %}"></script> {# slider img in tovar #}
<script src="{% static 'star/star.js' %}"></script>
<script>
  ttt = {{tovar.id}} {# tovar id #}
</script>
<script src="{% static 'js/load/load_comments.js' %}"></script>
{% if user.is_authenticated %}
  <script src="{% static 'js/ajax/add_favorites.js' %}"></script>
  <script src="{% static 'js/ajax/add_basket.js' %}"></script>
  <script src="{% static 'js/ajax/add_edit_comment.js' %}"></script>
{% endif %}
<script>
  {# rating #}
  raterJs( {
    max:5, 
    readOnly:true, 
    starSize:28,
    rating:{{tovar.rating|make_list|join:''}}, 
    element:document.getElementById('rater'),
  });
</script>


{% endblock scripts %}

{% block content %}
<input type="hidden" id="tovar_id" value="{{tovar.id}}">

    {% include "html/product.html" %}
    
    {% if history %}
        {% include "html/tovars.html" with title=title product_exc=history %}
    {% endif %}

    {% include "html/characteristics.html" %}

    {% if tovar.descr %}
    <div class="descr" id="descr">
      <h2>Описание</h2>
      <p>{{ tovar.descr|safe }}</p>
    </div>
    {% endif %}

    {% include "html/reviews.html" %}
    
{% endblock content %}