{% extends "layout/authlayout.html" %}
{% load static %}

{% block title %}Регистрация на OneBit{% endblock title %}

{% block seo_description %}Регистрируйся на OneBit и получи доступ к кучи товаров, быстрой доставка, скидкам и акциям. Покупайте комплектующие для для компьтеров и серверов по выгодным ценам.{% endblock seo_description %}
{% block seo_keywords %}регистрация на OneBit, регистрация onebit, войти onebit, reg onebit, auth onebit, register onebit{% endblock seo_keywords %}

{% block link_title %}Регистрация на OneBit{% endblock %}
{% block link_url %}{{ request.path }}{% endblock %}
{% block link_image %}{% static 'img/logo2.png' %}{% endblock %}
{% block link_description %}Регистрируйся на OneBit и получи доступ к кучи товаров, быстрой доставка, скидкам и акциям.{% endblock %}
   
   
{% block auth_content %}
<h1 class="title-auth">Регистрация</h1>
{% for field in form %}
   <div class="auth-input-text">
      {{ field }}
      <div class="auth-labelline">{{ field.label_tag }}</div>
   </div>

   {% if field.errors %}
         {% for error in field.errors %}
         <p class="auth-error">{{ error }}</p>
         {% endfor %}
   {% endif %}

{% endfor %}
<div class="auth-btn">
   <button class="btn uk-button uk-button-onebit" type="submit">Создать&nbsp;аккаунт</button>
   <div><a href="{% url 'login' %}">Войти</a></div>
   <div style="margin-left:auto"><a href="{% url 'home' %}">Назад</a></div>
</div>

{% endblock auth_content %}
